In [1]:
#data analysis
import pandas as pd

In [3]:
#importing data
df = pd.read_csv('Uber-Jan-Feb-FOIL.csv')

In [4]:
#first five rows
df.head()

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537

In [6]:
df.shape

(354, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dispatching_base_number  354 non-null    object
 1   date                     354 non-null    object
 2   active_vehicles          354 non-null    int64
 3   trips                    354 non-null    int64
dtypes: int64(2), object(2)
memory usage: 11.2+ KB